:root {
  --pantanal-azul: #004e64;
  --pantanal-ciano: #00a6bf;
  --pantanal-dourado: #f2c14e;
  --pantanal-verde: #1b7f5f;
  --muted: #6b7280;

  --bg-light: #f8fafc;
  --bg-card: #ffffff;

  --shadow-soft: 0 2px 6px rgba(0, 0, 0, 0.07);
  --shadow-medium: 0 4px 12px rgba(0, 0, 0, 0.1);
}